.core-concept {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px; /* Ensures responsiveness */
  justify-content: center;
  background-color: #0a0116;
  border: 2px solid #0a0116;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 10px #0a0116;
  padding-top: 10px;
}

.concept {
  display: flex;
  flex-direction: column;
  -ms-flex-align: baseline;
  align-items: center;
  width: 120px;
  height: 210px;
  text-align: center;
  border: 1px solid #0a0116;
  border-radius: 30px;
  padding: 10px;
  overflow: hidden;
}

.image {
  width: 90px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.concept h1 {
  font-size: 18px;
  margin-bottom: 5px;
  white-space: nowrap;
  font-family: "Inter", sans-serif !important;
  width: 100%;
}

.concept p {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.h2Header {
  color: rgb(118, 97, 150);
}

.content {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

.second-Core-div {
  margin: 10px auto;
  max-width: 700px; 
}

.example-content {
  border: 1px solid #0a0116;
  padding: 10px;
  border-radius: 10px;
  background-color: #0a0116;
  box-shadow: 0px 0px 30px 10px #1f1132;
  margin-top: 10px;
}
